* {
    margin-left: 0;
    margin-right: 0;

}

body {
   width: 100%;
   background-color: lightgray;
}

html {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color: #abafb8;
    height: auto;   
}

.join {
    line-height: 1.5em;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 81%;
    margin: 0 auto;
    margin-left: 13px;
    margin-top: 5em;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 15px;  
    background-color: white;
    border-radius: 5px 5px 0 0;
    box-sizing:
}

.join h1 {
    font-size: 1.625em;
    color:hsl(179, 62%, 43%);
}

.join h3 {
    color: hsl(71, 73%, 54%);
}

.join p {
    line-height: 1.857em;
}

#content {
    display: flex;
    justify-content: center; 
    flex-flow: column;    
}

.subscription {
    width: 81%;
    height: auto;
    padding-left: 30px;
    padding-right: 15px;
    margin: 0 auto;
    background-color: #2bb3b1;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 25px;
    line-height: 1em;    
}

.subscription span {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
}

#permonth {
    color: #66cccc;
    font-size: 1.2em;    
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;          
}

.signupbtn {
    background-color:  #bfdf32;
    border: none;
    width: 93%;
    height: 50px;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-weight: 700px;
    font-size: 1.2em;
    color: #fff;
    border: 0.5px solid #bfdf32;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 6.5px;
    transition-duration: 0.4s; 
    cursor: pointer;
}

.signupbtn:hover {
    background-color: #99b908;
    color: black;
}

.why-us {
    width: 81%;
    height: auto;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 15px;
    background-color: #4abebd;
    line-height: 1.5em;
    border-radius: 0 0 5px 5px;
    color: #e6ffff;
    margin-bottom: 10px;
}

.footer {
    
    margin-top: 2.5em;
}

.footer .attribution {
    
    font-size: .625em;
}

/*---------------- Media Queries Start ------------------- */

@media all and (min-width: 1200px) {
    
    html {
        font-size: 1.875em;
    }

    
    .join {
        line-height: 1.5em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
       
        margin-top: 5em;
        padding-bottom: 7px;
        padding-left: 30px;
        padding-right: 0;  
        background-color: white;
        border-radius: 5px 5px 0 0;
        box-sizing: border-box;
    }

    #content {
        display: flex;
        justify-content: center;
        margin-left: 5.96875em;
        flex-flow: row;
        width: 80%;
    }

    .subscription {
        height: auto;
        padding-left: 30px;
        padding-right: 15px;
        margin: 0 auto;
        background-color: #2bb3b1;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 25px;
        line-height: 1em;
        border-radius: 0 0 0 5px;    
    }

    .why-us {
        width: 81%;
        height: auto;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 15px;
        background-color: #4abebd;
        line-height: 1.5em;
        border-radius: 0 0 5px 0;
        color: #e6ffff;
    }        
}

@media all and (min-width: 768px) {

    .join {
        margin-left: 50px;
    }
}


